body {
  font-family: "Montserrat";
  color: #2e3333;
  background-color: #f3f5f5;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 19px;
  color: #868a8a;
}

header {
  height: 59px;
  border-bottom: lightgray solid 1px;
  background-color: white;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  height: 59px;
}

.restaurant {
  display: flex;
}

.restaurant > .col-2 {
  width: 350px;
  margin-left: 30px;
  border-radius: 5px;
}

.basket {
  width: 350px;
  height: 300px;
  margin-left: 30px;
  background-color: white;
  border-radius: 5px;
}

.categories {
  width: 820px;
}

.category {
  margin-bottom: 30px;
}

.meals {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.meal {
  width: 400px;
  height: 160px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  margin-bottom: 25px;
}

.meal:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  cursor: pointer;
}

.img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 5px;
  margin: auto 15px auto auto;
}

.meal > .col-1 {
  margin-right: 15px;
  padding-left: 10px;
}

.description {
  height: 42px;
  line-height: 21px;
  width: 220px;
  overflow: hidden;
  font-size: 14px;
  color: #808484;
}

.popular {
  font-size: 12px;
  color: #ff8000;
  font-weight: bold;
  margin: auto 15px;
}
